@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*
     * TODO: Remove after upgrading to Tailwind CSS 4.0+
     * Context: https://github.com/tailwindlabs/tailwindcss/issues/8961
     */
    button,
    [role='button'] {
        cursor: default;
    }
}

:root {
    --background: #ffffff;
    --foreground: #333333;
    --primary: #ff5b1a;
    --primary-100: #fff3ef;
    --primary-200: #ffb99d;
    --primary-250: #ffad8d;
    --primary-300: #ff9d76;
    --primary-350: #ff8c5f;
    --primary-400: #ff7c48;
    --primary-450: #ff6b31;
    --input-color-line: #ffcab5;
    --input-color-bg: #fef1e5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;

    @apply tracking-tight;
}

input {
    @apply h-12 w-full rounded-lg border-1 border-gray-200;
}

input:focus {
    @apply border-primary-200 outline-none;
}

select {
    @apply h-12 w-full rounded-lg border-1 border-gray-200;
}

select:focus {
    @apply border-primary-200 outline-none;
}

a {
    cursor: pointer;
}

/* 로딩 블록 애니메이션-맨위부터 */
.loading-block-first {
    animation: loadingBlockRed 2.2s ease-in-out forwards;
}
@keyframes loadingBlockRed {
    0% {
        top: -23rem;
    }
    100% {
        top: 0rem;
    }
}

.loading-block-second {
    animation: loadingBlockYellow 2s ease-in-out forwards;
}
@keyframes loadingBlockYellow {
    0% {
        top: -23rem;
    }
    100% {
        top: 6.2rem;
    }
}

.loading-block-third {
    animation: loadingBlockBlue 1.5s ease-in-out forwards;
}
@keyframes loadingBlockBlue {
    0% {
        top: -23rem;
    }
    100% {
        top: 12rem;
    }
}

.loading-block-fourth {
    animation: loadingBlockWhite 1.2s ease-in-out forwards;
}
@keyframes loadingBlockWhite {
    0% {
        top: -23rem;
    }
    100% {
        top: 19.1rem;
    }
}

/* 로고 상단 애니메이션 */
.logo-desc {
    animation: descAnimation 1.2s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes descAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 로고 하단 애니메이션 */
.logo-inmylink {
    animation: logoAnimation 1.2s ease-in-out forwards;
    animation-delay: 2.7s;
    opacity: 0;
}
@keyframes logoAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 로그인 버튼 애니메이션 */
.loginButtons {
    animation: loginButtonsAnimation 1.2s ease-in-out forwards;
    animation-delay: 3.4s;
    opacity: 0;
}
@keyframes loginButtonsAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 모달 뒷배경 */
.background-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 중앙 */
.content-modal {
    padding: 1.5rem 3rem;
    width: 25.125rem;
    border-radius: 1.4rem;
    border: 0.063rem solid gray;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
